@font-face {
  font-family: 'Rajdhani';
  src: url('../fonts/Rajdhani/Rajdhani-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Rajdhani';
  src: url('../fonts/Rajdhani/Rajdhani-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Rajdhani';
  src: url('../fonts/Rajdhani/Rajdhani-Bold.ttf');
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf');
  font-style: italic;
}

*,
*::after,
*::before {
  font-family: 'Rubik', 'Rajdhani', 'sans-serif' !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-padding {
    @apply px-4 md:px-8 lg:px-16 xl:px-32 2xl:px-[19rem];
  }
  .-section-padding {
    @apply -mx-4 md:-mx-8 lg:-mx-16 xl:-mx-32 2xl:-mx-[19rem];
  }
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
  }
}
